BITCOIN_RPC_URL=http://127.0.0.1:8332
BITCOIN_RPC_USER=bitcoinrpc
BITCOIN_RPC_PASSWORD=password
EVM_RPC_URL=https://sepolia.infura.io/v3/key
RELAY_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
RELAYER_PRIVATE_KEY=0xprivatekey
POLL_INTERVAL_SECS=10
START_HEIGHT=0
